html {
	font-size: 5px;
	
	// Media Queries
	@media (min-width: $sm) {
		font-size: 5.5px;
	}
	@media (min-width: $md) {
		font-size: 6.25px;
	}
	@media (min-width: $lg) {
		font-size: 7px;
	}
	@media (min-width: $xl) {
		font-size: 8.5px;
	}
	@media (min-width: $xxl) {
		font-size: 10px;
	}
}

*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	width: 100%;
	max-width: 100%;
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-md-block {

	// Media Queries
	@media (min-width: $md) {
		display: block;	
	}
}

.row-reverse {
	flex-direction: row-reverse;
}