// Fonts
$font-family: 'Lexend Deca', sans-serif;
$font-family-heading: 'Space Mono', sans-serif;

// Color System
$yellow: #FCB72B;
$dark-navy: #495567;
$dim-grey: #939CAA;
$light-grey: #E5ECF4;
$snow: #F2F5F9;
$light-yellow: #FFF4DF;
$white: #fff;

// Media Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;