<footer class="footer">

    <div class="footer-signup">
        <aside class="section">
            <h2>Sign up and <br> Scoot off today</h2>
    
            <div class="footer-signup-links">
                <a href="#">
                    <img src="../../assets/icons/app-store.svg" alt="App store">
                </a>
                
                <a href="#">
                    <img src="../../assets/icons/google-play.svg" alt="Play store">
                </a>
            </div>
        </aside>
    </div>

    <div class="footer-links">
        <aside class="section">
            <img src="../../assets/logo-light.svg" alt="" class="logo">

            <div class="footer-links-items">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/careers">Careers</a></li>
                </ul>
            </div>

            <div class="footer-links-social">
                <a href="#">
                    <img src="../../assets/icons/facebook.svg" alt="Facebook">
                </a>

                <a href="#">
                    <img src="../../assets/icons/twitter.svg" alt="Twitter">
                </a>

                <a href="#">
                    <img src="../../assets/icons/instagram.svg" alt="Instagram">
                </a>
            </div>
        </aside>
    </div>
</footer>