@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "Lexend Deca";
  src: url("./assets/fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
html {
  font-size: 5px;
}
@media (min-width: 576px) {
  html {
    font-size: 5.5px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 6.25px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 7px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 8.5px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 10px;
  }
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

.row-reverse {
  flex-direction: row-reverse;
}

svg {
  display: block;
}

.btn {
  --btn-color: #fff;
  --btn-background: #FCB72B;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Space Mono", sans-serif;
  font-stretch: 125%;
  font-weight: 500;
  color: var(--btn-color);
  background-color: var(--btn-background);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--btn-background);
  padding: 1.4rem 4rem;
  font-weight: bold;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
  }
}
.btn:hover, .btn:focus-visible {
  --btn-background: transparent;
  --btn-color: #FCB72B;
  border: 1px solid var(--btn-color);
}
.btn:hover, .btn:focus {
  outline: 0;
  text-decoration: none;
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: "Space Mono", sans-serif;
}

h1, .h1 {
  font-size: 8rem;
  letter-spacing: -0.358rem;
  line-height: 8rem;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 5.6rem;
    letter-spacing: -0.25rem;
    line-height: 5.6rem;
  }
}

h2, .h2 {
  font-size: 9.6rem;
  letter-spacing: -0.428rem;
  line-height: 9.6rem;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.214rem;
  }
}

h3, .h3 {
  font-size: 8rem;
  letter-spacing: -0.358rem;
  line-height: 8rem;
}
@media (min-width: 768px) {
  h3, .h3 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: -0.179rem;
  }
}

h4, .h4 {
  font-size: 4rem;
  letter-spacing: -0.178rem;
  line-height: 5.6rem;
}
@media (min-width: 768px) {
  h4, .h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -0.107rem;
  }
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0;
  font-weight: 300;
}
@media (min-width: 768px) {
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

a {
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 5rem;
}
@media (min-width: 768px) {
  a {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

#navbar {
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: relative;
}
#navbar nav {
  display: flex;
  align-items: center;
  padding: 2.2rem 0;
}
@media (max-width: 768px) {
  #navbar nav {
    justify-content: center;
    padding: 4.4rem 0;
  }
}
#navbar aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #navbar aside {
    position: absolute;
    overflow: visible;
    top: 100%;
    left: -100%;
    flex-direction: column;
    background-color: #333A44;
    width: 70vw;
    height: calc(100vh - 12.4rem);
    z-index: 100;
    display: flex;
    align-items: start;
    padding: 12.8rem 6.4rem 4.8rem 6.4rem;
    transition: all 0.5s ease;
  }
}
#navbar aside::after {
  content: "";
  position: absolute;
  width: 2rem;
  top: 0;
  right: calc(-30vw + 15px);
  background-color: #000;
  opacity: 0;
  height: 2rem;
  width: calc(30vw - 15px);
  height: calc(100vh - 12.4rem);
  overflow-x: hidden;
  transition: opacity 0.5s ease, width 0.1s ease, height 0.5s ease;
}
@media (min-width: 768px) {
  #navbar aside::after {
    display: none;
  }
}
@media (max-width: 768px) {
  #navbar aside button {
    width: 100%;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }
}
#navbar .logo {
  margin-right: 5.8rem;
}
@media (max-width: 768px) {
  #navbar .logo {
    margin-right: 0;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
#navbar .logo img {
  height: 4rem;
}
#navbar .nav-items {
  flex: 1;
}
#navbar .nav-items ul {
  display: flex;
}
@media (max-width: 768px) {
  #navbar .nav-items ul {
    flex-direction: column;
  }
}
#navbar .nav-items li {
  list-style-type: none;
  margin-right: 3.2rem;
}
@media (max-width: 768px) {
  #navbar .nav-items li:not(:last-child) {
    margin-bottom: 4.8rem;
  }
}
#navbar .nav-items a {
  text-decoration: none;
  color: #939CAA;
  font-size: 1.5rem;
  font-family: "Space Mono", sans-serif;
}
@media (max-width: 768px) {
  #navbar .nav-items a {
    color: #E5ECF4;
    font-size: 3.6rem;
  }
}
#navbar .nav-items a:hover {
  transition: all 0.2s ease;
  color: #FCB72B;
}
@media (min-width: 768px) {
  #navbar .nav-buttons {
    display: none;
  }
}
#navbar .nav-buttons .open, #navbar .nav-buttons .close {
  cursor: pointer;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  #navbar .nav-buttons .open, #navbar .nav-buttons .close {
    width: 4rem;
  }
}
#navbar .nav-buttons .close {
  display: none;
}
#navbar.active nav .nav-buttons .open {
  display: none;
}
#navbar.active nav .nav-buttons .close {
  display: block;
}
#navbar.active aside {
  left: 0;
}
#navbar.active aside::after {
  opacity: 0.9;
  width: calc(30vw - 15px);
}

.section {
  width: min(100% - 12.8rem, 111rem);
  margin: 0 auto;
}

.footer-signup {
  background-color: #495567;
  position: relative;
  overflow: hidden;
}
.footer-signup::after {
  content: "";
  background-image: url("../../assets/patterns/footer-circles.svg");
  position: absolute;
  right: 0;
  bottom: -50%;
  width: 115.3rem;
  height: 34.7rem;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.footer-signup aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10.2rem 0;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .footer-signup aside {
    flex-direction: row;
  }
}
.footer-signup h2 {
  flex: 1;
  color: #fff;
  z-index: 2;
}
@media (max-width: 768px) {
  .footer-signup h2 {
    font-size: 6.4rem;
    line-height: 6.4rem;
    letter-spacing: -0.286rem;
    text-align: center;
    margin-bottom: 8rem;
  }
}
@media (max-width: 768px) {
  .footer-signup h2 br {
    display: none;
  }
}
.footer-signup img {
  height: 5.6rem;
  z-index: 2;
}
.footer-signup a:nth-of-type(1) img {
  margin-right: 1.8rem;
}
.footer-links {
  background-color: #333A44;
}
.footer-links .logo {
  margin-right: 0;
  width: 21.564rem;
  height: auto;
}
@media (min-width: 768px) {
  .footer-links .logo {
    margin-right: 5.85rem;
    width: 10.782rem;
  }
}
.footer-links aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.8rem;
  padding-bottom: 17.6rem;
}
@media (min-width: 768px) {
  .footer-links aside {
    padding: 3.5rem 0;
    flex-direction: row;
  }
}
.footer-links-items {
  flex: 1;
}
@media (max-width: 768px) {
  .footer-links-items {
    margin-top: 8.28rem;
    margin-bottom: 17rem;
  }
}
.footer-links-items ul {
  display: flex;
  height: 100%;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-links-items ul {
    flex-direction: column;
  }
}
.footer-links-items li {
  list-style-type: none;
}
.footer-links-items li:not(:last-child) {
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .footer-links-items li:not(:last-child) {
    margin-right: 3.2rem;
    margin-bottom: 0;
  }
}
.footer-links-items a {
  text-decoration: none;
  color: #939CAA;
  font-family: "Lexend Deca", sans-serif;
}
.footer-links-items a:hover {
  color: #FCB72B;
  transition: all 0.2 ease;
}
.footer-links-social {
  display: flex;
  align-items: center;
}
.footer-links-social a {
  height: 4.8rem;
  width: 4.8rem;
  display: block;
}
@media (min-width: 768px) {
  .footer-links-social a {
    height: 2.4rem;
    width: 2.4rem;
  }
}
.footer-links-social a:not(:last-child) {
  margin-right: 4.8rem;
}
@media (min-width: 768px) {
  .footer-links-social a:not(:last-child) {
    margin-right: 2.4rem;
  }
}
.footer-links-social a:hover svg path {
  transition: all 0.2s ease;
  fill: #E5ECF4;
}
.footer-links-social svg {
  width: 100%;
  height: 100%;
}

.hero {
  padding: 15.3rem 0;
  background-image: url("../../assets/images/home-hero-mobile.jpg");
  background-size: 100% 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 576px) {
  .hero {
    background-image: url("../../assets/images/home-hero-tablet.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../../assets/images/home-hero-desktop.jpg");
  }
}
.hero-content {
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-content {
    text-align: start;
    margin-left: 9.5rem;
  }
}
.hero-content::after {
  content: url("../../assets/patterns/white-circles.svg");
  position: absolute;
  right: -27%;
  top: 57%;
  display: none;
}
@media (min-width: 1600px) {
  .hero-content::after {
    right: -43.5%;
    display: block;
  }
}
.hero h1, .hero p {
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .hero h1, .hero p {
    text-align: start;
  }
}
.hero p {
  position: relative;
  width: 100%;
  margin: 4rem 0;
}
@media (min-width: 768px) {
  .hero p {
    width: 54rem;
  }
}
.hero p::before {
  content: "";
  width: 100%;
  height: 1.5rem;
  background-color: #FCB72B;
  position: absolute;
  top: 50%;
  left: calc(-100% - 5.7rem);
  transform: translateY(-50%);
}
.hero p::after {
  content: url("../../assets/patterns/right-arrow.svg");
  position: absolute;
  right: calc(-80% - 5.7rem);
  top: 32%;
  width: 44.7rem;
}
.hero--banner {
  padding-top: 12rem;
  padding-bottom: 12rem;
  margin-bottom: 14.4rem;
  position: relative;
}
@media (min-width: 768px) {
  .hero--banner {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
    margin-bottom: 12rem;
  }
}
.hero--banner::after {
  content: url("../../assets/patterns/white-circles.svg");
  position: absolute;
  right: -2%;
  top: 50%;
  height: 6.2rem;
  width: auto;
  display: none;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .hero--banner::after {
    display: block;
  }
}
.hero-about {
  background-image: url("../../assets/images/about-hero-mobile.jpg");
}
@media (min-width: 576px) {
  .hero-about {
    background-image: url("../../assets/images/about-hero-desktop.jpg");
  }
}
.hero-careers {
  background-image: url("../../assets/images/careers-location-hero-mobile.jpg");
}
@media (min-width: 576px) {
  .hero-careers {
    background-image: url("../../assets/images/careers-locations-hero-desktop.jpg");
  }
}

.features {
  padding-top: 25.8rem;
  padding-bottom: 25.8rem;
}
@media (min-width: 768px) {
  .features {
    padding-top: 16rem;
    padding-bottom: 20rem;
  }
}
.features-cards-container {
  display: grid;
  grid-template-columns: 1 1fr;
  gap: 9.6rem;
}
@media (min-width: 768px) {
  .features-cards-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
.features-card {
  text-align: center;
}
@media (min-width: 768px) {
  .features-card {
    text-align: start;
  }
}
@media (min-width: 768px) {
  .features-card:nth-last-child(1) .img {
    position: relative;
    width: fit-content;
  }
}
.features-card:nth-last-child(1) .img::after {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 100vw;
  background-color: #E5ECF4;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.features-card .img {
  margin-bottom: 4.8rem;
}
@media (min-width: 768px) {
  .features-card .img {
    margin-bottom: 4rem;
  }
}
.features-card h4 {
  color: #495567;
  margin-bottom: 4.8rem;
}
@media (min-width: 768px) {
  .features-card h4 {
    margin-bottom: 2.7rem;
  }
}
.features-card p {
  color: #939CAA;
}

.image-content {
  margin-bottom: 24rem;
}
@media (min-width: 768px) {
  .image-content {
    margin-bottom: 16rem;
  }
}
.image-content .section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .image-content .section {
    flex-direction: row;
  }
}
.image-content .content {
  text-align: center;
}
@media (min-width: 768px) {
  .image-content .content {
    width: 44.5rem;
    text-align: start;
  }
}
.image-content .content h2 {
  color: #495567;
  margin-bottom: 6.4rem;
}
@media (max-width: 768px) {
  .image-content .content h2 {
    font-size: 6.4rem;
    letter-spacing: -0.286rem;
    line-height: 6.4rem;
  }
}
@media (min-width: 768px) {
  .image-content .content h2 {
    margin-bottom: 2.4rem;
    text-wrap: nowrap;
  }
}
.image-content .content p {
  color: #939CAA;
  margin-bottom: 6.4rem;
}
@media (min-width: 768px) {
  .image-content .content p {
    margin-bottom: 4rem;
  }
}
.image-content .image {
  margin-bottom: 11.2rem;
}
@media (min-width: 576px) {
  .image-content .image {
    width: 44.5rem;
    margin-bottom: 0;
  }
}
.image-content .image img {
  border-radius: 50%;
  width: 100%;
}

.image-content-right .section {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .image-content-right .section {
    flex-direction: row-reverse;
  }
}
.image-content-right .content {
  padding-right: 0rem;
}

.our-values {
  margin-bottom: 29rem;
}
@media (min-width: 768px) {
  .our-values {
    margin-bottom: 12rem;
  }
}
.our-values h2 {
  text-align: center;
  margin-bottom: 12.8rem;
  color: #495567;
}
@media (min-width: 768px) {
  .our-values h2 {
    margin-bottom: 10.3rem;
  }
}
.our-values-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 11.2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .our-values-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
.our-values-card img {
  border-radius: 50%;
  width: 48rem;
  height: auto;
}
@media (min-width: 768px) {
  .our-values-card img {
    width: 24rem;
  }
}
.our-values-card .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
}
.our-values-card .img h4 {
  display: block;
  background-color: #FCB72B;
  padding: 6.8rem;
  width: fit-content;
  border-radius: 50%;
  margin-top: -8rem;
}
@media (min-width: 768px) {
  .our-values-card .img h4 {
    margin-top: -4rem;
    padding: 3.4rem;
  }
}
.our-values-card > h4 {
  margin-bottom: 5.4rem;
  color: #495567;
}
@media (min-width: 768px) {
  .our-values-card > h4 {
    margin-bottom: 2.7rem;
  }
}
.our-values-card p {
  color: #939CAA;
}

.faq h2, .faq h3, .faq h4, .faq p {
  color: #495567;
}
.faq h2 {
  text-align: center;
  margin-bottom: 12.8rem;
}
@media (min-width: 768px) {
  .faq h2 {
    margin-bottom: 10.3rem;
  }
}
@media (max-width: 768px) {
  .faq h3 {
    margin-bottom: 6.4rem;
  }
}
.faq-block {
  display: grid;
  margin-bottom: 9.6rem;
}
@media (min-width: 768px) {
  .faq-block {
    margin-bottom: 6.4rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .faq-container {
    grid-column: 2/4;
  }
}
.faq-item {
  position: relative;
  overflow: hidden;
}
.faq-item:not(:last-child) {
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .faq-item:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
.faq-item h4 {
  padding: 6.4rem;
  background-color: #F2F5F9;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  .faq-item h4 {
    padding: 3.2rem 4rem;
  }
}
.faq-item h4::after {
  content: url("./assets/icons/chevron.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6.4rem;
}
@media (min-width: 768px) {
  .faq-item h4::after {
    right: 4rem;
  }
}
.faq-item h4:hover {
  transition: all 0.2s ease;
  background-color: #FFF4DF;
}
.faq-item p {
  position: absolute;
  z-index: -1;
  background-color: #F2F5F9;
  transform: translateY(-100%);
  padding: 0rem 6.4rem 6.4rem 6.4rem;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  .faq-item p {
    padding: 0rem 4rem 3.2rem 4rem;
  }
}
.faq-item.active h4 {
  background-color: #F2F5F9;
}
.faq-item.active h4::after {
  transform: translateY(-50%) rotate(180deg);
}
.faq-item.active p {
  position: relative;
  transform: translateY(0%);
}

.job {
  margin-bottom: 24rem;
}
@media (min-width: 768px) {
  .job {
    margin-bottom: 16rem;
  }
}
.job-card {
  background-color: #F2F5F9;
  padding: 6.4rem;
  text-align: center;
}
@media (min-width: 576px) {
  .job-card {
    text-align: start;
    padding: 3.2rem 4rem;
    display: flex;
    justify-content: space-between;
  }
}
.job-card:not(:last-child) {
  margin-bottom: 3.2rem;
}
@media (min-width: 576px) {
  .job-card:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
.job-card h4, .job-card p {
  color: #495567;
}
.job-card h4 {
  margin-bottom: 0.8rem;
}
@media (min-width: 576px) {
  .job-card h4 {
    margin-bottom: 0.8rem;
  }
}
@media (max-width: 768px) {
  .job-card p {
    margin-bottom: 3.2rem;
  }
}
.job-card button {
  width: 100%;
}
@media (min-width: 576px) {
  .job-card button {
    width: fit-content;
    padding-left: 6.75rem;
    padding-right: 6.75rem;
  }
}

.map-location-container {
  position: relative;
  margin-bottom: 14.4rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .map-location-container {
    margin-bottom: 12rem;
  }
}
.map-location-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .map-location-img-desktop {
    display: none;
  }
}
.map-location-img-tablet {
  display: none;
}
@media (min-width: 768px) {
  .map-location-img-mobile {
    display: none;
  }
}
.map-location-item {
  padding: 4.4rem 0rem;
  background-color: #FCB72B;
  display: inline-block;
  text-align: center;
}
@media (max-width: 768px) {
  .map-location-item {
    background-color: #FFF4DF;
  }
}
@media (min-width: 768px) {
  .map-location-item {
    position: absolute;
    padding: 2.2rem 3.85rem;
    min-width: 19rem;
  }
}
@media (max-width: 768px) {
  .map-location-item:nth-of-type(1) {
    margin-top: 8rem;
  }
}
@media (max-width: 768px) {
  .map-location-item:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}
.map-location-item::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #FCB72B;
}
@media (max-width: 768px) {
  .map-location-item::after {
    display: none;
  }
}
.map-location-item h4 {
  color: #495567;
}
.map-location-item.new-york {
  top: 10%;
  left: 15%;
}
.map-location-item.london {
  top: 3.5%;
  left: 36%;
}
.map-location-item.yokohama {
  top: 15%;
  left: 77.5%;
}
.map-location-item.jakarta {
  top: 47%;
  left: 71%;
}
.map-location-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 14.4rem;
}
@media (min-width: 768px) {
  .map-location-content {
    display: grid;
    grid-template-columns: 1.5fr 1.7fr 1fr;
    gap: 3rem;
    margin-bottom: 12rem;
    text-align: start;
  }
}
.map-location-content h2 {
  color: #495567;
}
@media (max-width: 768px) {
  .map-location-content h2 {
    font-size: 6.4rem;
    line-height: 6.4rem;
    letter-spacing: -0.286rem;
  }
}
.map-location-content p {
  color: #939CAA;
}
@media (max-width: 768px) {
  .map-location-content h2, .map-location-content p {
    margin-bottom: 6.4rem;
  }
}
.map-location-content .button {
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 768px) {
  .map-location-content .button button {
    padding: 2.8rem 8.8rem;
    font-weight: 500;
    text-transform: capitalize;
  }
}

/*# sourceMappingURL=styles.css.map */
