#navbar {
    background-color: $white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    nav {
        display: flex;
        align-items: center;
        padding: 2.2rem 0;
    }

    .logo {
        margin-right: 5.8rem;
    }
    
    .nav-items {
        flex: 1;

        ul {
            display: flex;
        }

        li {
            list-style-type: none;
            margin-right: 3.2rem;
        }

        a {
            text-decoration: none;
            color: $dim-grey;
            font-size: 1.5rem;
            font-family: $font-family-heading;
        }
    }  
}