.features {
    padding-top: 25.8rem;
    padding-bottom: 25.8rem;

    // Media Queries
    @media (min-width: $md) {
        padding-top: 16rem;
        padding-bottom: 20rem;
    }

    &-cards-container {
        display: grid;
        grid-template-columns:1 1fr;
        gap: 9.6rem;
        
        // Media Queries
        @media (min-width: $md) {
            grid-template-columns: repeat(3, 1fr);            
            gap: 3rem;
        }
    }

    &-card {
        text-align: center;

        // Media Queries
        @media (min-width: $md) {
            text-align: start;
            
        }

        &:nth-last-child(1) {

            .img {

                // Media Queries
                @media (min-width: $md) {
                    position: relative;
                    width: fit-content;
                }

                &::after {
                    content: '';
                    position: absolute;
                    height: 1.5rem;
                    width: 100vw;
                    background-color: $light-grey;
                    top: 50%;
                    right: 50%;
                    transform: translateY(-50%);
                    z-index: -1;
                }
            }
        }

        .img {
            margin-bottom: 4.8rem;

            // Media Queries
            @media (min-width: $md) {
                margin-bottom: 4rem;
            }
        }

        h4 {
            color: $dark-navy;
            margin-bottom: 4.8rem;

            // Media Queries
            @media (min-width: $md) {
                margin-bottom: 2.7rem;
            }
        }

        p {
            color: $dim-grey;
        }
    }
}