.hero {
    padding: 15.3rem 0;
    background-image: url('../../assets/images/home-hero-desktop.jpg');
    background-size: 100% 100%;
    overflow: hidden;

    &-content {
        position: relative;
        margin-left: 9.5rem;

        &::after {
            content: url('../../assets/patterns/white-circles.svg');
            position: absolute;
            right: -27%;
            top: 57%;

            // Media Queries
            @media (min-width: $xxxl) {
                right: -43.5%;                
            }
        }
    }

    h1, p {
        color: $white;
    }

    p {
        position: relative;
        width: 100%;
        margin: 4rem 0;

        // Media Queries
        @media (min-width: $md) {
            width: 54rem;
        }

        &::before {
            content: '';
            width: 100%;
            height: 1.5rem;
            background-color: $yellow;
            position: absolute;
            top: 50%;
            left: calc(-100% - 5.7rem);
            transform: translateY(-50%);
        }

        &::after {
            content: url('../../assets/patterns/right-arrow.svg');
            position: absolute;
            right: calc(-80% - 5.7rem);
            top: 32%;
            width: 44.7rem;
        }
    }
}