h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4 {
    font-family: $font-family-heading;
}

h1, .h1 { 
    font-size: 8rem;
    letter-spacing: -0.358rem;
    line-height: 8rem;

    // Media Queries
    @media (min-width: $md) {
        font-size: 5.6rem;
        letter-spacing: -0.25rem;
        line-height: 5.6rem;
    }
}

h2, .h2 { 
    font-size: 9.6rem;
    letter-spacing: -0.428rem;
    line-height: 9.6rem;
    
    // Media Queries
    @media (min-width: $md) {
        font-size: 4.8rem;
        line-height: 4.8rem;
        letter-spacing: -0.214rem;
    }
}

h3, .h3 {
    font-size: 8rem;
    letter-spacing: -0.358rem;
    line-height: 8rem;

    // Media Queries
    @media (min-width: $md) {
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: -0.179rem;
    }
}

h4, .h4 {
    font-size: 4rem;
    letter-spacing: -0.178;
    line-height: 5.6rem;

    // Media Queries
    @media (min-width: $md) {
        font-size: 2.4rem;
        line-height: 2.8rem;
        letter-spacing: -0.107rem;
    }
}

p {
    font-family: $font-family;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0;
    font-weight: 300;

    // Media Queries
    @media (min-width: $md) {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

a {
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 5rem;

    // Media Queries
    @media (min-width: $md) {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}