<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <link rel="stylesheet" href="../styles.css">  

  <title>Frontend Mentor | Scoot About</title>
</head>
<body>

  <div id="navbar"></div>

<!-- start of hero section -->
<section class="hero hero-careers hero--banner">
  <div class="section">
    <h1>About</h1>
  </div>
</section>
<!-- end of hero section -->

<!-- start of image content section -->
<section class="image-content p-relative">
  <div class="arrow-right-image-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="741" height="151"><g fill="none" fill-rule="evenodd" stroke="#FCB72B" stroke-linejoin="bevel" stroke-width="15"><path d="M740.969 143.368H182.854V43.999H6.591"/><path d="M44.64 82.64L6.214 44.214 44.64 5.787"/></g></svg>
  </div>

  <div class="circle-right"></div>

  <div class="section">
    <div class="content">
      <h2>Easy to use <br class="d-none d-md-block"> riding telemetry</h2>

      <p>The Scoot app is available with riding telemetry. This means it can show you your average speed, how long you've been using the scooter, your traveling distance, and many more things all in an easy to use app.</p>

      <button class="btn">Learn More</button>
    </div>

    <div class="image">
      <img src="../assets/images/telemetry.jpg" alt="">
    </div>
  </div>
</section>
<!-- end of image content section -->

<!-- start of image content section -->
<section class="image-content image-content-right p-relative">
  <div class="arrow-left-image-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="452" height="151"><g fill="none" fill-rule="evenodd" stroke="#FCB72B" stroke-linejoin="bevel" stroke-width="15"><path d="M407.952 145.444l38.426-38.426-38.426-38.426"/><path d="M0 8h270.115v99.369h176.263"/></g></svg>
  </div>

  <div class="circle-left"></div>

  <div class="section">
    <div class="content">
      <h2>Easy to use <br class="d-none d-md-block"> riding telemetry</h2>

      <p>The Scoot app is available with riding telemetry. This means it can show you your average speed, how long you've been using the scooter, your traveling distance, and many more things all in an easy to use app.</p>

      <button class="btn">Learn More</button>
    </div>

    <div class="image">
      <img src="../assets/images/telemetry.jpg" alt="">
    </div>
  </div>
</section>
<!-- end of image content section -->

<!-- start of our values section -->
<section class="our-values">
  <div class="section">
    <h2>Our values</h2>

    <div class="our-values-card-container">
      <div class="our-values-card">
        <div class="img">
          <img src="../assets/images/our-tech.jpg" alt="">

          <h4>01</h4>
        </div>

        <h4>Our tech</h4>

        <p>We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
      </div>

      <div class="our-values-card">
        <div class="img">
          <img src="../assets/images/our-integrity.jpg" alt="">

          <h4>02</h4>
        </div>

        <h4>Our integrity</h4>

        <p>We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
      </div>

      <div class="our-values-card">
        <div class="img">
          <img src="../assets/images/our-community.jpg" alt="">

          <h4>03</h4>
        </div>

        <h4>Our community</h4>

        <p>We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>
      </div>
    </div>
  </div>
</section>
<!-- end of our values section -->

<!-- start of faq section -->
<section class="faq">
  <div class="section">
    <h2>FAQs</h2>

    <div class="faq-block">
      <h3>How it works</h3>

      <div class="faq-container">
        <aside class="faq-item">
          <h4>How do I download the app?</h4>

          <p>To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the correct page.</p>
        </aside>

        <aside class="faq-item">
          <h4>Can I find a nearby Scoots?</h4>

          <p>To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the correct page.</p>
        </aside>

        <aside class="faq-item">
          <h4>Do I need a license to ride?</h4>

          <p>To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the correct page.</p>
        </aside>
      </div>
    </div>

    <div class="faq-block">
      <h3>How it works</h3>

      <div class="faq-container">
        <aside class="faq-item">
          <h4>How do I download the app?</h4>

          <p>To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the correct page.</p>
        </aside>

        <aside class="faq-item">
          <h4>Can I find a nearby Scoots?</h4>

          <p>To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the correct page.</p>
        </aside>

        <aside class="faq-item">
          <h4>Do I need a license to ride?</h4>

          <p>To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the correct page.</p>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- end of faq section -->


  <div id="footer"></div>

  <script src="../app.js"></script>
</body>
</html>