<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <link rel="stylesheet" href="../styles.css">
  
  <title>Frontend Mentor | Scoot</title>
</head>
<body>
  <div id="navbar"></div>

<!-- start of hero section -->
<section class="hero hero-careers hero--banner">
  <div class="section">
    <h1>Careers</h1>
  </div>
</section>
<!-- end of hero section -->

<!-- start of image content section -->
<section class="image-content p-relative">
  <div class="arrow-right-image-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="741" height="151"><g fill="none" fill-rule="evenodd" stroke="#FCB72B" stroke-linejoin="bevel" stroke-width="15"><path d="M740.969 8H182.854v99.369H6.591"/><path d="M44.64 145.64L6.214 107.214 44.64 68.787"/></g></svg>
  </div>
  
  <div class="section">
    <div class="content">
      <h2>Care to join our <br class="d-none d-md-block"> mission?</h2>

      <p>We’re always looking for ambitious individuals to help us on our journey. If you’re passionate about our mission to provide clean, accessible transport to improve urban living we want to hear from you!</p>

      <button class="btn">Learn More</button>
    </div>

    <div class="image">
      <img src="../assets/images/telemetry.jpg" alt="">
    </div>
  </div>
</section>
<!-- end of image content section -->

<!-- start of our values section -->
<section class="our-values">
  <div class="section">
    <h2>Why join us?</h2>

    <div class="our-values-card-container">
      <div class="our-values-card">
        <div class="img">
          <img src="../assets/images/our-tech.jpg" alt="">

          <h4>01</h4>
        </div>

        <h4>Our tech</h4>

        <p>We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
      </div>

      <div class="our-values-card">
        <div class="img">
          <img src="../assets/images/our-integrity.jpg" alt="">

          <h4>02</h4>
        </div>

        <h4>Our integrity</h4>

        <p>We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
      </div>

      <div class="our-values-card">
        <div class="img">
          <img src="../assets/images/our-community.jpg" alt="">

          <h4>03</h4>
        </div>

        <h4>Our community</h4>

        <p>We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>
      </div>
    </div>
  </div>
</section>
<!-- end of our values section -->

<!-- start of job listing sections -->
<section class="job">
  <div class="section">
    <div class="job-listings">
      <aside class="job-card">
        <div class="job-card-content">
          <h4>General Manager</h4>

          <p>Jakarta, Indonesia</p>
        </div>

        <button class="btn">Apply</button>
      </aside>

      <aside class="job-card">
        <div class="job-card-content">
          <h4>General Manager</h4>

          <p>Jakarta, Indonesia</p>
        </div>

        <button class="btn">Apply</button>
      </aside>
      
      <aside class="job-card">
        <div class="job-card-content">
          <h4>General Manager</h4>

          <p>Jakarta, Indonesia</p>
        </div>

        <button class="btn">Apply</button>
      </aside>

    </div>
  </div>
</section>
<!-- end of job listing sections -->


  <div id="footer"></div>

  <script src="../app.js"></script>
</body>
</html>